@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
}

header {
  background-color: #f2f2f2;
  text-align: center;
  padding: 25px;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #696969;
  margin: 0 30px;
  padding: 5px 15px;
  border-radius: 30px;
}
nav a:hover {
  background-color: #000;
  color: #fff;
}
.encabezado-img {
  background-image: url(images/fondo.jpg);
  background-size: cover;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.encabezado-img p {
  font-size: 18px;
}
.encabezado-img h1 {
  font-size: 50px;
  padding: 15px 0;
}
